.income,
.expense {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
}

.expense {
  border-right: 6px solid rgb(255, 91, 91);
}

.income {
  border-right: 6px solid rgb(90, 219, 90);
}

.title {
  flex: 1;
}

.delete {
  display: none;
  color: white;
  background-color: rgb(255, 91, 91);
  font: inherit;
  padding: 0;
  width: 1.3rem;
  height: 1.3rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.expense:hover .delete {
  display: inline;
}

.income:hover .delete {
  display: block;
}

.delete:hover {
  background-color: rgb(255, 62, 62);
}

li {
  animation: appear 0.3s ease-in forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
